@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

:root {
    --bitwarden-blue: #175ddc;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 2.2rem;
    margin-left: 5px;
    font-weight: 600;
    line-height: 2em;
}

h2 {
    font-size: 1.7rem;
    margin-left: 5px;
    font-weight: 600;
    line-height: 2em;
}

strong {
    font-weight: 700;
}

.wrapper {
    height: 100vh;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 11fr; */
}

header {
    height: 77px;
    background-color: var(--bitwarden-blue);
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-size: 1.1rem;
}

header a {
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
}

header a:visited {
    color: #FFF;
}

header ion-icon {
    font-size: 20px;
}

#nav-left {
    display: flex;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 20px;
}

#logo > .image-box {
    max-width: 32px;
}

#logo > p {
    padding-left: 8px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}